
*{
    box-sizing: border-box;  /* сброс стилей(один из способов) */
}
a{
    text-decoration: none;   /*отмена подчеркивания у ссылок*/
    display: inline-block;   /*убрали подчеркивание у ссылок*/
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    /* max-width: 1170px;      максимальная ширина блока */
    /* margin: 0 auto;         один из способов выравнивания столбца/блока по центру */
    padding: 0 15px;
    /* text-align: center; */
}
.forms{
    display: flex;
    justify-content: space-around;
    color: rgba(207, 118, 46, 0.733);
    background-color: rgb(203, 221, 162);
}
.formAuthorization{
    flex-direction: column;
    max-width: 300px;
    align-items: right;
}
.name{
    margin-left: 25px;
}
.login{
    margin-left: 27px;
}
.formRegistration{
    flex-direction: column;
    max-width: 300px;
    align-items: right;
}
.login-btn_span{
    font-size: 17px;
    font-weight: 500;
    color: rgb(235, 141, 34);
}
.login-btn,
.send-btn{
    text-align: center;
    color: rgba(61, 124, 10, 0.781);
    background-color: rgb(74, 155, 74);
}
.login-btn:hover,
.send-btn:hover{
    color: rgba(16, 170, 98, 0.733);
    background-color: rgba(59, 59, 187, 0.849);
}
